In [1]:
from ml.functions.influxdb_manager import InfluxDBOperations
import pandas as pd

In [2]:
db = InfluxDBOperations()

In [3]:
c,d = db.get_data_from_influx()

In [4]:
c

,Close,Volume,Rendite,SMA 10,EMA 10,EMA 20,WMA 10,Momentum 10,SAR,RSI,ROC,%R,OBV,MACD,MACD_SIGNAL,MACD_HIST,CCI,ADOSC,%K,%D
Date,,,,,,,,,,,,,,,,,,,,
2023-12-01,2.992632,1.300903,0.484001,2.962485,2.953317,2.911113,2.967788,1.498965,2.967594,1.674323,0.475537,1.199357,2.165576,3.463889,3.358766,1.045785,0.824994,1.246202,1.03427,0.464585

In [5]:
a = db.get_prediction_from_influx()

In [6]:
a

,time,Date,Target,model
0,2023-11-17 09:35:57.781487228,2023-11-16T00:00:00,1,runs:/3351d60d341343eab59e55a6d87d5f8e/model
1,2023-11-17 10:03:24.260265449,2023-11-16T00:00:00,1,runs:/5c036be77ea045228b58b4fa52821f65/model
2,2023-11-17 10:46:28.068345651,2023-11-16T00:00:00,1,runs:/5c036be77ea045228b58b4fa52821f65/model
3,2023-11-17 12:08:08.690320611,2023-11-16T00:00:00,1,runs:/5c036be77ea045228b58b4fa52821f65/model
4,2023-11-17 12:17:51.745234310,2023-11-16T00:00:00,1,runs:/5c036be77ea045228b58b4fa52821f65/model
5,2023-11-28 17:51:05.554577164,2023-11-16T00:00:00,999,None
6,2023-11-28 17:51:39.905353506,2023-11-16T00:00:00,1,None
7,2023-11-28 17:56:46.049281435,2023-11-16T00:00:00,1,None
8,2023-11-28 17:58:01.419464842,2023-11-16T00:00:00,1,None
9,2023-12-01 11:10:03.938828965,2023-11-16T00:00:00,1,None
10,2023-12-01 11:29:12.222649711,2023-11-16T00:00:00,1,None
11,2023-12-01 11:51:00.215244346,2023-11-16T00:00:00,1,None
12,2023-12-01 12:45:17.957572506,2023-11-30T00:00:00,0,runs:/c413fe91b94f4a8db7492ffa6657a0f6/model
13,2023-12-01 14:47:42.703819588,2023-11-30T00:00:00,0,DEFAULT
14,2023-12-02 06:22:45.340411900,2023-12-01T00:00:00,0,DEFAULT
15,2023-12-03 06:22:18.868237311,2023-12-01T00:00:00,0,DEFAULT

In [ ]:
import streamlit as st
import yfinance as yf
import plotly.express as px

def main():
    st.title('Aktienkursvorhersage')

    symbol = "^GSPC"

    data = yf.download(symbol, start='2020-01-01', end='2023-01-01')
    if not data.empty:
        fig = px.line(data, x=data.index, y='Close', title=f'Aktienkurse für {symbol}')
        st.plotly_chart(fig)
    else:
        st.write('Keine Daten verfügbar.')

if __name__ == '__main__':
    main()